# Data Science Tools and Ecosystem

This notebook contain my assingment about the IBM 2nd course which i have learnt from the Coursera application
I am trying to optimize the code and the markdown cell in this notebook

Some of the popular languages that Data Scientists use are:<br>
    1.Python<br>
    2.SQL<br>
    3.R Studio<br>

Some of the commonly used libraries used by Data Scientists include:<br>
    1. Numpy<br>
    2.Pandas<br>
    3.Matplotlib<br>
    4.Seaborn

|Data Science Tools|
|--|
|Data Visualization|
|Data Mining|
|Model Deployment|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
a=(200/60)
print(a)

3.3333333333333335

**Objective:**<br>
    popular languages that Data Scientists use<br>
    Some of the commonly used libraries used by Data Scientists include<br>
    simple arithmetic expression<br>
    convert 200 minutes to hours<br>

## Author
ALOK TRIPATHI